@* <main class="content" id="content">
    <div id="dashboard" class="panel active">Chào mừng đến Dashboard!</div>
    <div id="users" class="panel">Danh sách người dùng</div>
    <div id="products" class="panel">Quản lý sản phẩm</div>
    <div id="orders" class="panel">Thông tin đơn hàng</div>
    <form asp-area="" asp-controller="Login" asp-action="Logout" method="post">
        <button type="submit">Đăng xuất</button>
    </form>


</main> *@


<main class="content" id="content">
    <div id="dashboard" class="panel active">Chào mừng đến Dashboard!</div>
    <div id="users" class="panel">Danh sách người dùng</div>
    <div id="SanPham/Index" class="panel">Quản lý sản phẩm</div>
    <div id="orders" class="panel">Thông tin đơn hàng</div>
</main>
